@model X.PagedList.IPagedList<DoAnNet7_2.Models.Thichcongviec>
@using X.PagedList.Mvc.Core
@using X.PagedList.Mvc.Core.Common;
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "BaiVietDaThich";
    Layout = "~/Views/Shared/_LayoutNguoiTimViec.cshtml";
}

<div class="row">
    <ul class="menu col-md-3" style="max-width: 20%; margin-top: 40px">
        <li class="">
            <a class="menu-item" id="item-home" asp-action="TaiKhoanNTV" asp-controller="NguoiTimViec">
                <i class="fa-solid fa-address-card"></i>
                Tài khoản
            </a>
        </li>
        <li class="">
            <a class="menu-item" id="item-account" asp-action="DSCVNTV" asp-controller="NguoiTimViec" asp-route-idTK="@ViewBag.IdTk">
                <i class="fa-solid fa-file-pdf"></i>
                <span>Sơ yếu lý lịch</span>
            </a>
        </li>
        <li>
            <a class="menu-item" id="item-company" asp-action="BTDDaUngTuyen" asp-controller="NguoiTimViec" asp-route-idTK="@ViewBag.IdTk">
                <i class="fa-solid fa-newspaper"></i>
                <span>Bài viết đã ứng tuyển</span>
            </a>
        </li>
        <li>
            <a class="active menu-item" id="item-account" asp-action="BaiVietDaThichNTV" asp-controller="NguoiTimViec" asp-route-idTK="@ViewBag.IdTk">
                <i class="fa-solid fa-hand-holding-heart"></i>
                <span>Bài viết đã thích</span>
            </a>
        </li>

    </ul>
    <div class="col-md-9 row background-caidat" style="justify-content: center;    min-width: 80%;">
        <div class="border-content col-md-12">
            <h1>Bài tuyển dụng đã thích </h1>
            <input type="hidden" id="idTK" value="@ViewBag.idTK" />

            <div class="row mt2" style="align-items: center; justify-content: space-between;">
                <form id="search-form" class="col-md-9" style="display: flex;padding: 0 !important">
                    <input type="search" class="form-control" placeholder="Tên công việc, địa chỉ..." id="searchItem">
                    <button type="submit" class="btn btn-primary">Tìm kiếm</button>
                </form>
            </div>
            <div id="item_search">
                @Html.Partial("_BaiVietDaThichNTVPartial", Model)
            </div>
        </div>
    </div>
</div>
<script>
    // Bắt sự kiện khi form submit
    $('#search-form').submit(function (event) {
        // Ngăn chặn hành vi mặc định của form submit
        event.preventDefault();

        // Lấy giá trị của input tìm kiếm
        var searchTerm = $('#searchItem').val();
        var idTK = $('#idTK').val();

        // Gọi hàm loadData để gửi yêu cầu Ajax và cập nhật dữ liệu
        loadData(idTK, 1, searchTerm);
    });


    function loadData(idTK, page, searchTerm) {
        $.ajax({
            url: "@Url.Action("BaiVietDaThichNTV", "NguoiTimViec")?idTK=" + idTK + "&page=" + page + "&searchTerm=" + searchTerm, // Đường dẫn đến hành động trong controller để lấy dữ liệu từ máy chủ
            type: 'GET', // Phương thức HTTP để lấy dữ liệu
            data: { idTK: idTK, page: page, searchTerm: searchTerm }, // Các tham số để truyền cho hành động lấy dữ liệu
            success: function (data) {
                $('#item_search').html(data); // Cập nhật nội dung của bảng dữ liệu trong trang web
            }
        });
    }

</script>