@model X.PagedList.IPagedList<DoAnNet7_2.Models.Soyeulylich>
@using X.PagedList.Mvc.Core
@using X.PagedList.Mvc.Core.Common;
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "DSCVungVien";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<style>
    .title-card {
        padding: 10px !important;
        border-left: 8px solid #feb696;
    }

    .pad-none {
        padding: 0 !important;
    }
</style>
<div class="col-md-12">
    <p style=" margin-left: 10px; margin-bottom: 10px !important">
        <a class="link-hover" asp-action="InfoTK" asp-controller="DanhSachTaiKhoan" asp-route-idTK="@ViewBag.IdTK"> &#60;&#60; Quay về</a>
    </p>
    <div class="border-content title-card" style="min-width:  -webkit-fill-available;">
        <h4>Danh sách CV của @ViewBag.Ho_Ten</h4>
    </div>
    <div class="row mt2" style="min-width:  -webkit-fill-available;">
        <div class="border-content col-md-12">
            <input type="hidden" id="IdTK" value="@ViewBag.IdTK" />

            <div class="row mt2" style="align-items: center; justify-content: space-between">
                <p class="col-md-3">
                    <a class="btn btn-success" asp-action="ThemCVUngVien" asp-controller="CV">Thêm mới</a>
                </p>
                <form id="search-form" class="col-md-9" style="display: flex">
                    <input type="search" class="form-control" placeholder="Tên CV..." id="searchItem">
                    <button type="submit" class="btn btn-primary">Tìm kiếm</button>
                </form>
            </div>

            <div id="btd_search">
                @Html.Partial("_CVUngVienPartial", Model)
            </div>
        </div>

    </div>
</div>
<script>
    // Bắt sự kiện khi form submit
    $('#search-form').submit(function (event) {
        // Ngăn chặn hành vi mặc định của form submit
        event.preventDefault();

        // Lấy giá trị của input tìm kiếm
        var searchTerm = $('#searchItem').val();
        var IdTK = $('#IdTK').val();

        // Gọi hàm loadData để gửi yêu cầu Ajax và cập nhật dữ liệu
        loadData(IdTK, 1, searchTerm);
    });


    function loadData(IdTK, page, searchTerm) {
        $.ajax({
            url: "@Url.Action("DSCVUngVien", "CV")?IdTK=" + IdTK + "&page=" + page + "&searchTerm=" + searchTerm, // Đường dẫn đến hành động trong controller để lấy dữ liệu từ máy chủ
            type: 'GET', // Phương thức HTTP để lấy dữ liệu
            data: { IdTK: IdTK, page: page, searchTerm: searchTerm }, // Các tham số để truyền cho hành động lấy dữ liệu
            success: function (data) {
                $('#btd_search').html(data); // Cập nhật nội dung của bảng dữ liệu trong trang web
            }
        });
    }

</script>
