@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using Microsoft.AspNetCore.Http
@{
    HttpContext context = ViewContext.HttpContext;
}
<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/assets/css/Admin.css">
    <link rel="stylesheet" href="~/assets/css/NhaTD.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/css/bootstrap.min.css" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/642d846c81.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <script src="https://cdn.ckeditor.com/ckeditor5/37.0.0/classic/ckeditor.js"></script>
    <style>

        .btn-profile {
            display: flex;
            margin-right: 100px !important;
            align-items: center;
            background-color: #fff;
            position: relative;
            outline: none !important;
        }

        .nav-profile-img {
            margin-right: 15px;
        }

        .nav-profile-text {
            vertical-align: middle;
            margin-right: 6px;
        }

            .nav-profile-text > p {
                margin-bottom: 0 !important;
            }

        .dang-xuat-a {
            position: absolute;
            display: none;
            background-color: #fff;
            box-shadow: 0px 3px 21px 0px rgba(0, 0, 0, 0.2);
            padding: 10px 20px;
            z-index: 99;
            top: 52px;
            border-radius: 5px;
            cursor: pointer;
            color: #000 !important;
            min-width: fit-content;
        }

            .dang-xuat-a:hover {
                background-color: #e9ecef !important;
                color: #000 !important;
            }

            .dang-xuat-a.show {
                display: block;
            }

        i.fa-chevron-down.hide, i.fa-chevron-up {
            display: none;
        }

        .fa-chevron-up.show {
            display: block;
        }

        .avatar {
            width: 40px !important;
            height: 40px !important;
            border-radius: 100%;
        }
    </style>

</head>
<body>
    <div id="nav-bar">
        <div style="min-width: 20% !important;display: flex; justify-content: center">
            <img class="logo" src="~/assets/images/LOGO.jpg" alt="Logo">
        </div>
        <div style="display: flex; justify-content: space-between;width: -webkit-fill-available; align-items: center">
            <p>
                <i class="fa-regular fa-calendar-days" style="color: #feb696"></i>
                @DateTime.Now.ToString("dddd, dd/MM/yyyy")
            </p>
            <button class="btn-profile">
                <div class="nav-profile-img">
                    <img class="avatar" src="@context.Session.GetString("Tenanh")" alt="image">
                </div>
                <div class="nav-profile-text">
                    <p class="text-black">
                        @context.Session.GetString("Hoten")
                    </p>
                </div>
                <i class="fa-solid fa-chevron-down" style="font-size: x-small;"></i>
                <i class="fa-solid fa-chevron-up" style="font-size: x-small;"></i>
                <a class="dang-xuat-a" id="logoutBtn" asp-controller="Access" asp-action="DangXuat">Đăng xuất</a>
            </button>
        </div>
    </div>
    <div class="row main">
        <div class="side-bar col-md-3" style="max-width: 20% !important">
            <div style="margin-top: 30px; display: flex; flex-direction: column; align-items: center">
                <img class="avatarNTD" src="@context.Session.GetString("Tenanh")" alt="anh-dai-dien">
                <div class="name-admin">
                    <h4 style="text-align: center;font-size: 1.5rem !important;">
                        @context.Session.GetString("Hoten")
                    </h4>
                    <h5 style="margin-top: 5px; text-align: center">Nhà tuyển dụng</h5>
                </div>
            </div>
            <ul class="menu">
                <li class="">
                    <a class="active menu-item" id="item-home" asp-action="NhaTuyenDung" asp-controller="NhaTuyenDung">
                        <i class="fa-solid fa-house"></i>
                        Bảng tin
                    </a>
                </li>
                <li class="">
                    <a class="menu-item" id="item-account" asp-action="DSBTDNTD" asp-controller="NhaTuyenDung">
                        <i class="fa-solid fa-newspaper"></i>
                        <span>Bài tuyển dụng</span>
                    </a>
                </li>
                <li>
                    <a class="menu-item" id="item-company" asp-action="CongTyNTD" asp-controller="NhaTuyenDung">
                        <i class="fa-solid fa-building-user"></i>
                        <span>Công ty</span>
                    </a>
                </li>
                <li>
                    <a class="menu-item" id="item-account" asp-action="CaiDatTaiKhoanNTD" asp-controller="NhaTuyenDung">
                        <i class="fa-solid fa-gear"></i>
                        <span>Cài đặt tài khoản</span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="content-main col-md-9" style="max-width: 80% !important; margin-left: 20% !important">
            <div class="content row">
                @RenderBody()
            </div>
        </div>
    </div>
    @*    <script>
    $(document).ready(function () {
    // Khi trang được load, kiểm tra trạng thái active trong Local Storage và áp dụng cho menu item tương ứng
    var activeMenuItem = localStorage.getItem('activeMenuItem');
    if (activeMenuItem) {
    $('.menu-item').removeClass('active'); // Xóa lớp active khỏi tất cả các menu item
    $('#' + activeMenuItem).addClass('active'); // Thêm lớp active vào menu item được lưu trong Local Storage
    } else {
    // Nếu không có menu item nào được lưu, mặc định active cho menu item Home và lưu nó vào Local Storage
    $('#item-home').addClass('active');
    localStorage.setItem('activeMenuItem', 'item-home');
    }

    // Khi click vào một menu item
    $('.menu-item').click(function () {
    var itemId = $(this).attr('id'); // Lấy id của menu item
    $('.menu-item').removeClass('active'); // Xóa lớp active khỏi tất cả các menu item
    $(this).addClass('active'); // Thêm lớp active vào menu item được click

    // Lưu trạng thái active vào Local Storage
    localStorage.setItem('activeMenuItem', itemId);
    });
    $('#logoutBtn').click(function () {
    // Sau khi đăng xuất
    localStorage.removeItem('activeMenuItem');
    })
    });
    </script>*@
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            // Lấy URL hiện tại
            const currentUrl = window.location.pathname.toLowerCase();

            // Lấy tất cả các nav-link
            const menuItems = document.querySelectorAll('.menu-item');

            // Lặp qua từng nav-link để kiểm tra URL
            menuItems.forEach(link => {
                const linkHref = link.getAttribute('href').toLowerCase();
                if (currentUrl === linkHref) {
                    link.classList.add('active');
                } else {
                    link.classList.remove('active');
                }
            });
        });
    </script>

    <script>
        $(document).ready(function () {
            $('.btn-profile').click(function (event) {
                event.stopPropagation(); // Ngăn chặn sự kiện click được truyền xuống các phần tử cha
                $('.dang-xuat-a').toggleClass('show');
                $('.fa-chevron-down').toggleClass('hide');
                $('.fa-chevron-up').toggleClass('show');
            });

            // Đóng các phần tử khi nhấp vào bất kỳ vị trí nào ở bên ngoài chúng
            $(document).click(function (event) {
                if (!$(event.target).closest('.profile-container').length) {
                    $('.dang-xuat-a').removeClass('show');
                    $('.fa-chevron-down').removeClass('hide');
                    $('.fa-chevron-up').removeClass('show');
                }
            });
        });
    </script>

    <script>
        ClassicEditor
            .create(document.querySelector('#moTaCongViec'))
            .catch(error => {
                console.error(error);
            });
        ClassicEditor
            .create(document.querySelector('#yeuCauKhac'))
            .catch(error => {
                console.error(error);
            });
        ClassicEditor
            .create(document.querySelector('#quyenLoi'))
            .catch(error => {
                console.error(error);
            });
        ClassicEditor
            .create(document.querySelector('#moTaCongTy'))
            .catch(error => {
                console.error(error);
            });
    </script>
</body>
</html>
