@model X.PagedList.IPagedList<DoAnNet7_2.Models.CongviecSyll>
@using X.PagedList.Mvc.Core
@using X.PagedList.Mvc.Core.Common;
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<table class="table mt2">
    <thead>
        <tr>
            <th>
                #
            </th>
            <th>
                Họ tên
            </th>
            <th>
                Email
            </th>
            <th>
                Số điện thoại
            </th>
            <th>
                Sơ yếu lý lịch
            </th>
            <th>
                Thao tác
            </th>
        </tr>
    </thead>
    <tbody>
        @{
            var stt = (Model.PageNumber - 1) * Model.PageSize + 1;
        }
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @stt
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdSyllNavigation.IdTkNavigation.Hoten)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdSyllNavigation.IdTkNavigation.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdSyllNavigation.IdTkNavigation.Sdt)
                </td>
                <td style="text-align: center;">
                    <a class="btn btn-info" asp-action="ViewCV" asp-controller="CV" asp-route-idCV="@item.IdSyll" target="_blank">Xem CV</a>
                </td>
                <td style="text-align: center;">
                    <a class="btn btn-danger">
                        <i class="fa-solid fa-trash"></i>
                    </a>
                </td>
            </tr>
            stt++;
        }
    </tbody>
</table>
@if (!string.IsNullOrEmpty(ViewBag.NoResultsMessage))
{
    <div class="alert alert-warning" role="alert">
        @ViewBag.NoResultsMessage
    </div>
}
@if (Model.TotalItemCount > 8)
{
    <div class="row">
        <div class="col-sm-12">
            <nav aria-label="Page navigation">
                <ul class="pagination">
                    @Html.PagedListPager(Model, page => Url.Action("DSUngTuyen", new {idBTD = ViewBag.idBTD, page, searchTerm = ViewBag.searchTerm }), new PagedListRenderOptions
                {
                LiElementClasses = new List<string> { "page-item" },
                PageClasses = new List<string> { "page-link" }
                })
                </ul>
            </nav>
        </div>
    </div>
}


<!-- Modal xác nhận xoá -->
<div id="confirmModal" class="modal" aria-hidden="true">
    <div class="modal-content">
        <div class="title-danger">
            <i class="fa-solid fa-triangle-exclamation" style="font-size: 20pt"></i>
            <h3 style="margin-left: 10px !important" class="confirm-message">Bạn có chắc chắn muốn xoá?</h3>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <p class="mt2" style="font-size: 16pt; margin-left: 20px; margin-right: 20px">
            Lưu ý: Xoá bài tuyển dụng này sẽ xoá bài viết này và toàn bộ danh sách ứng viên đã ứng tuyển vào bài viết.
        </p>
        <div class="button-container">
            <button id="confirmBtn" class="confirm">
                Đồng ý
            </button>
            <button id="cancelBtn" class="cancel">Huỷ bỏ</button>
        </div>
    </div>
</div>


<script>
    // Kiểm tra xem trang đã được tải lại sau khi thực hiện thao tác xoá hay không
    window.onload = function () {
        var reloadFromDelete = sessionStorage.getItem('reloadFromDelete');
        if (reloadFromDelete) {
            // Nếu trang đã được tải lại từ thao tác xoá, hiển thị modal
            Swal.fire({
                icon: '@TempData["MessageType"]',
                title: '@TempData["Message"]'
            });
            // Xóa dữ liệu trong sessionStorage để tránh hiển thị modal khi tải lại trang lần tiếp theo
            sessionStorage.removeItem('reloadFromDelete');
        }
    };
    function confirmDelete(id) {
        // Hiển thị modal xác nhận
        $('#confirmModal').modal('show');
        $('#confirmModal').data('id', id);
    }

    // Xử lý sự kiện khi người dùng xác nhận xoá
    $('#confirmBtn').click(function () {
        var id = $('#confirmModal').data('id');
        var url = '@Url.Action("XoaBTD", "BaiTuyenDung")' + '?idBTD=' + id;
        sessionStorage.setItem('reloadFromDelete', true);
        window.location.assign(url);
    });

    // Xử lý sự kiện khi người dùng nhấn nút "Huỷ bỏ"
    $('#cancelBtn').click(function () {
        $('#confirmModal').modal('hide'); // Đóng modal xác nhận
    });
</script>

