@model DoAnNet7_2.Models.Baituyendung
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "ThemBTD";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="border-content col-md-12">
    <div class="mt1">
        <a class="link-hover" asp-action="DSBaiTuyenDung" asp-controller="BaiTuyenDung">Quay về</a>
    </div>

    <h2 class="mt1">Thêm bài tuyển dụng</h2>
    <hr />
    <div class="row">
        <div class="col-md-6">
            <form asp-action="ThemBTD" asp-controller="BaiTuyenDung" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group mt2">
                    <label asp-for="IdTk" class="control-label">Tài khoản
                        (<span style="color: red">*</span>)
                    </label>
                    <select asp-for="IdTk" class="form-control mt1" asp-items="ViewBag.IdTk" required></select>
                </div>
                <div class="form-group mt2">
                    <label asp-for="Tencongviec" class="control-label">Tên công việc
                        (<span style="color: red">*</span>)
                    </label>
                    <input asp-for="Tencongviec" class="form-control mt1" required/>
                    <span asp-validation-for="Tencongviec" class="text-danger"></span>
                </div>
                <div class="form-group mt2">
                    <label asp-for="Diachi" class="control-label"></label>
                    <input asp-for="Diachi" class="form-control mt1" />
                    <span asp-validation-for="Diachi" class="text-danger"></span>
                </div>
                <div class="form-group mt2">
                    <label asp-for="IdTt" class="control-label"></label>
                    <select asp-for="IdTt" class="form-control mt1" asp-items="ViewBag.IdTt"></select>
                </div>
                <div class="form-group mt2">
                    <label asp-for="IdLcv" class="control-label">Loại côgn việc
                        (<span style="color: red">*</span>)
                    </label>
                    <select asp-for="IdLcv" class="form-control mt1" asp-items="ViewBag.IdLcv" required></select>
                </div>
                <div class="form-group mt2">
                    <label asp-for="IdTglv" class="control-label">Thời gian làm việc
                        (<span style="color: red">*</span>)
                    </label>
                    <select asp-for="IdTglv" class="form-control mt1" asp-items="ViewBag.IdTglv" required></select>
                </div>
                <div class="form-group mt2">
                    <label asp-for="IdNn" class="control-label">Ngành nghề
                        (<span style="color: red">*</span>)
                    </label>
                    <select asp-for="IdNn" class="form-control mt1" asp-items="ViewBag.IdNn" required></select>
                </div>
                <div class="form-group mt2">
                    <label asp-for="Motacongviec" class="control-label">Mô tả công việc
                        (<span style="color: red">*</span>)
                    </label>
                    <textarea asp-for="Motacongviec" class="form-control mt1 minht200" id="moTaCongViec" required></textarea>
                    <span asp-validation-for="Motacongviec" class="text-danger"></span>
                </div>
                <div class="form-group mt2">
                    <label asp-for="IdTgkn" class="control-label">Yêu cầu kinh nghiệm
                        (<span style="color: red">*</span>)
                    </label>
                    <select asp-for="IdTgkn" class="form-control mt1" asp-items="ViewBag.IdTgkn" required></select>
                </div>
                <div class="form-group mt2">
                    <label asp-for="Yeucaukhac" class="control-label">Yêu cầu khác
                        (<span style="color: red">*</span>)
                    </label>
                    <textarea asp-for="Yeucaukhac" class="form-control mt1 minht150" id="yeuCauKhac" required></textarea>
                    <span asp-validation-for="Yeucaukhac" class="text-danger"></span>
                </div>
                <div class="form-group mt2">
                    <label asp-for="Quyenloi" class="control-label">Quyền lợi
                        (<span style="color: red">*</span>)
                    </label>
                    <textarea asp-for="Quyenloi" class="form-control mt1 minht200" id="quyenLoi" required></textarea>
                    <span asp-validation-for="Quyenloi" class="text-danger"></span>
                </div>
                <div class="form-group mt2">
                    <label asp-for="IdTtht" class="control-label">Trạng thái hiển thị
                        (<span style="color: red">*</span>)
                    </label>
                    <select asp-for="IdTtht" class="form-control mt1" asp-items="ViewBag.IdTtht" required></select>
                </div>
                <div class="form-group">
                    <input type="submit" value="Thêm mới" class="btn btn-success" />
                </div>
            </form>
        </div>
        <div class="col-md-6">
            <h3>Danh sách nhà tuyển dụng</h3>
            <div class="mt2" style="overflow-y: scroll;max-height: 500px; padding: 4px 8px">
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                #
                            </th>
                            @*<th>Id</th>*@
                            <th>Họ tên</th>
                            <th>Email</th>
                            <th>SDT</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            var stt = 1;
                        }
                        @foreach (var item in ViewBag.Taikhoan)
                        {
                            <tr>
                                <td>
                                    @stt
                                </td>
                                @*<td>@item.IdTk</td>*@
                                <td>@item.Hoten</td>
                                <td>@item.Hoten</td>
                                <td>@item.Sdt</td>
                                @*<td style="min-width: 100px">
                            <a class="btn btn-info" asp-action="CongTy" asp-controller="TKNhaTuyenDung" asp-route-IdTK="@item.IdTk">Chi tiết</a>
                            </td>*@
                            </tr>
                            stt++;
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

