@model X.PagedList.IPagedList<DoAnNet7_2.Models.Baituyendung>
@using X.PagedList.Mvc.Core
@using X.PagedList.Mvc.Core.Common;
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<table class="table mt2">
    <thead>
        <tr>
            <th>
                #
            </th>
            <th>
                Tên công việc
            </th>
            <th>
                Loại công việc
            </th>
            <th>
                Mức lương
            </th>
            <th>
                Địa chỉ
            </th>
            <th>Thao tác</th>
        </tr>
    </thead>
    <tbody>
        @{
            var stt = (Model.PageNumber - 1) * Model.PageSize + 1;
        }
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @stt
                </td>
                <td>
                    <a class="link-hover" asp-action="ChiTietBTD" asp-controller="BaiTuyenDung" asp-route-idBTD="@item.IdBtd" target="_blank">
                        @Html.DisplayFor(modelItem => item.Tencongviec)
                    </a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdLcvNavigation.Tenlcv)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdLuongNavigation.Tenmucluong)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Diachi),
                    @Html.DisplayFor(modelItem => item.IdTtNavigation.Tentt)
                </td>
                <td style="text-align: center">
                    <form asp-controller="TKNguoiTimViec" asp-action="ThichBaiViet" asp-route-IdTK="@ViewBag.IdTk" method="post" style="display: inline-block;">
                        <input type="hidden" name="idBTD" value="@item.IdBtd" />
                        <input type="hidden" name="idTK" value="@ViewBag.IdTk" />
                        <button type="submit" class="btn btn-danger">
                            <i class="fa-solid fa-heart"></i>
                        </button>
                    </form>
                </td>
            </tr>
            stt++;
        }
    </tbody>
</table>
@if (!string.IsNullOrEmpty(ViewBag.NoResultsMessage))
{
    <div class="alert alert-warning" role="alert">
        @ViewBag.NoResultsMessage
    </div>
}
@if (Model.TotalItemCount > 8)
{
    <div class="row">
        <div class="col-sm-12">
            <nav aria-label="Page navigation">
                <ul class="pagination">
                    @Html.PagedListPager(Model, page => Url.Action("ThichBaiViet", new {idTK = ViewBag.IdTk, page, searchTerm = ViewBag.searchTerm }), new PagedListRenderOptions
                {
                LiElementClasses = new List<string> { "page-item" },
                PageClasses = new List<string> { "page-link" }
                })
                </ul>
            </nav>
        </div>
    </div>
}

