@model X.PagedList.IPagedList<DoAnNet7_2.Models.Baituyendung>
@using X.PagedList.Mvc.Core
@using X.PagedList.Mvc.Core.Common;
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "ThichBaiViet";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="border-content col-md-12">
<div class="mt1">
    <a class="link-hover" asp-action="BaiVietDaThich" asp-controller="TKNguoiTimViec" asp-route-idTK="@ViewBag.IdTk">Quay về</a>
</div>

<h1>Bài viết chưa thích của @ViewBag.Hoten</h1>
<input type="hidden" id="idTK" value="@ViewBag.IdTk" />

<form id="search-form" class="mt2" style="display: flex">
    <input type="search" class="form-control" placeholder="Tên công việc, địa chỉ..." id="searchItem">
    <button type="submit" class="btn btn-primary">Tìm kiếm</button>
</form>
<div id="item_search">
    @Html.Partial("_ThichBaiVietPartial", Model)
</div>
</div>
<script>
    // Bắt sự kiện khi form submit
    $('#search-form').submit(function (event) {
        // Ngăn chặn hành vi mặc định của form submit
        event.preventDefault();

        // Lấy giá trị của input tìm kiếm
        var searchTerm = $('#searchItem').val();
        var idTK = $('#idTK').val();

        // Gọi hàm loadData để gửi yêu cầu Ajax và cập nhật dữ liệu
        loadData(idTK, 1, searchTerm);
    });


    function loadData(idTK, page, searchTerm) {
        $.ajax({
            url: "@Url.Action("ThichBaiViet", "TKNguoiTimViec")?idTK=" + idTK + "&page=" + page + "&searchTerm=" + searchTerm, // Đường dẫn đến hành động trong controller để lấy dữ liệu từ máy chủ
            type: 'GET', // Phương thức HTTP để lấy dữ liệu
            data: { idTK: @ViewBag.IdTK, page: page, searchTerm: searchTerm }, // Các tham số để truyền cho hành động lấy dữ liệu
            success: function (data) {
                $('#item_search').html(data); // Cập nhật nội dung của bảng dữ liệu trong trang web
            }
        });
    }

</script>


